
body {
    margin: 0;
    background-color: #1E8BC3;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

nav {
    color: #fff;
    background-color: #22313F;
    width: 100%;
    height: 100px;
    line-height: 75px;
    margin-bottom: 20px;
}

.side-nav {
    background-color: #1E8BC3;
}

h1 {
    line-height: 110%;
    color: #22313F;
}

.slider .indicators .indicator-item.active {
    background-color: #22313F;
}

footer.page-footer {
    margin-top: 20px;
    padding-top: 20px;
    background-color: #22313F;
}

blockquote {
    margin: 20px 0;
    padding-left: 1.5rem;
    border-left: 5px solid #0D47A1;
}

/*Alterações Will*/
.conteudo {
    margin-top: 30px;
}

.nav-wrapper ul li a {
    padding: 12.5px 10px;
}

.menu {
    margin-right: 50px;
}

img.logo-menu {
    max-width: 90px;
    margin-top: 8px;
    height: auto;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal-background {
    background-color: #22313F;
}

/*Estilização para os ícones*/
.icon {
    margin: 5px;
    width: 32px;
    height: 32px;
}

.icon-medium {
    max-width: 128px;
    max-height: 128px;
}

.icon-medium:hover {
    color: white;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: .3s;
}

.icon-menu {
    float: left;
    margin-top: 3px;
    margin-right: 10px;
}

.centralizar {
    margin: 0 auto;
    width: 700px;
}

/*Estilização para MOBILE*/

@media (max-width: 992px) {
    .centralizar {
        width: 100%;
    }

    .icon-medium {
        width: 100%;
    }

    .nav-wrapper ul li a {
        overflow: hidden;
        padding: 0;
        padding-left: 10px;
    }
    .menu{
        margin: 0;
        padding-top: 30px;
    }

    a.button-collapse{
        margin-top: 20px;
        margin-left: 10px;
    }
}

/*Estilização para texto*/

.justify {
    text-align: justify;
}

.title {
    margin-top: 0px;
}

/*Carregamento Btn Top*/
#topBtn {
    display: none;
    margin-top: 5px;
}